<%- include("header") -%>
<div class="header-spacer"></div>

<div class="container about-container">
  <h1 class="page-header">About Us</h1>

  <p class="page-top-text">We, from ECE Club, welcome you to Skule! Joining as an Engineer means you are en route to becoming the best and brightest you can be! We maintain a structured partnership with faculty providing functional study areas and
    resources, such as study halls and computer labs. And, when you need to relax, come to our common room where you can enjoy some foosball or play smash with friends.</p>

  <h5><span class="badge badge-secondary"><a href="javascript:scrollToCard(1)">Chair</a></span></h5>
  <h5><span class="badge badge-secondary"><a href="javascript:scrollToCard(2)">Vice Chair</a></span></h5>
  <h5><span class="badge badge-secondary"><a href="javascript:scrollToCard(3)">Webmaster</a></span></h5>
  <h5><span class="badge badge-secondary"><a href="javascript:scrollToCard(4)">Academic Director</a></span></h5>
  <h5><span class="badge badge-secondary"><a href="javascript:scrollToCard(5)">Mentorship Director</a></span></h5>
  <h5><span class="badge badge-secondary"><a href="javascript:scrollToCard(6)">Events Director</a></span></h5>
  <h5><span class="badge badge-secondary"><a href="javascript:scrollToCard(7)">Communications Director</a></span></h5>

  <div id="card1" class="card shadow-sm width: 100% mb-5">
    <div class="card-body">
      <h5 class="card-title">Torin Anderson</h5>
      <h6 class="card-subtitle mb-2 text-muted">Chair</h6>
      <hr>
      <p class="card-text">
        <span class="card-text-header">Key Responsibilities</span>
      <ul>
        <li>Organizing overall club activities</li>
        <li>Act as a liaison between ECE Club and EngSoc</li>
        <li>Fill in for any unfilled role</li>
        <li>Giving the Club a direction</li>
      </ul>
      <span class="card-text-header">Goals for the Year</span>
      <ul>
        <li>Overhauling the common room</li>
        <li>Increasing the scope of Club events</li>
        <li>Increase Club involvement</li>
        <li>Increase scope of Club communications</li>
        <li>Overhaul mentorship program</li>
        <li>Merge Electrical Club and Computer Club</li>
      </ul>
      <span class="card-text-header">Fun Fact: </span>
      <span> Table Tennis is my favourite sport</span>
      </p>
      <a class="btn btn-secondary" href="mailto: ece@skule.ca" class="card-link">ece@skule.ca</a>
    </div>
  </div>

  <div id="card2" class="card shadow-sm width: 100% mb-5">
    <div class="card-body">
      <h5 class="card-title">Jeremy Sharapov</h5>
      <h6 class="card-subtitle mb-2 text-muted">Vice Chair</h6>
      <hr>
      <p class="card-text">
        <span class="card-text-header">Key Responsibilities</span>
      <ul>
        <li>Aiding in the effective operation of the ECE Club Joint Council</li>
        <li>Attending Faculty Meetings with the Edward S. Rogers Sr. Department of Electrical and Computer Engineering</li>
        <li>Assuming or delegating the responsibilities of the Chair or any Appointed Directors if they are vacant</li>
      </ul>
      <span class="card-text-header">Goals for the Year</span>
      <ul>
        <li><b>Make ECE Club seem remotely decent after the shitshow that was last year</b></li>
      </ul>
      <span class="card-text-header">Fun Fact: </span>
      <span> I haven't cut my hair or shaved since January</span>
      </p>
      <a class="btn btn-secondary" href="mailto: ece@skule.ca" class="card-link">ece@skule.ca</a>
    </div>
  </div>

  <div id="card3" class="card shadow-sm width: 100% mb-5">
    <div class="card-body">
      <h5 class="card-title">Majd Hailat</h5>
      <h6 class="card-subtitle mb-2 text-muted">Webmaster</h6>
      <hr>
      <p class="card-text">
        <span class="card-text-header">Key Responsibilities</span>
      <ul>
        <li>Maintaining and updating the Joint ECE Club website, in collaboration with the Communications Director</li>
        <li>Creating and maintaining the ECE Dinner Dance website, by working in collaboration with the Events Directors</li>
      </ul>
      <span class="card-text-header">Goals for the Year</span>
      <ul>
        <li>Build and maintain a good looking and optomized website whilst learning how to be a better web developer :)</li>
      </ul>
      <span class="card-text-header">Fun Fact: </span>
      <span>I learned web dev and iOS dev in 4 months!</span>
      </p>
      <a class="btn btn-secondary" href="mailto: ece@skule.ca" class="card-link">webmaster@ece.skule.ca</a>
    </div>
  </div>

  <div id="card4" class="card shadow-sm width: 100% mb-5">
    <div class="card-body">
      <h5 class="card-title">Yixin Zhang & Myeong Hun "David" Song</h5>
      <h6 class="card-subtitle mb-2 text-muted">Academic Director</h6>
      <hr>
      <p class="card-text">
        <span class="card-text-header">Key Responsibilities</span>
      <ul>
        <li>Compile the Anti-Calendar for ECE courses</li>
        <li>Collect and analyze the result of students‘ feedback/evaluation and back to the faculty</li>
        <li>Assist communications between the faculty and students</li>
        <li>Help classmates solve concerns about academic</li>
        <li>Connection between Class Representatives and EngSoc's VP Academic in terms of academic advocacy hierarchy</li>
        <li>Resolve academic issues with Class Representatives and Edward S. Rogers Sr. Department of Electrical and Computer Engineering</li>
        <li>Participate in ECE club's activities</li>
        <li>Provide guideline/goal for academic portfolio, and assist Class Representatives to achieve the goal</li>
        <li>Participate in EngSoc's Academic Advocacy Committee (AAC)</li>
      </ul>
      <span class="card-text-header">Goals for the Year</span>
      <ul>
        <li>Provide Academic Guidance
          <ol>
            <li>[NEW] How to survive ECE second year? - Finish the document and let 2T3 class representatives to update it.</li>
            <li>Magellan 101 - Provide information on kernel and major depth courses in each area, which will help 2T3s to choose their courses by late January 2021</li>
            <li>[NEW] Guide to First Year Courses - Similar with "How to survive ECE second year" document, but gathering 2T4 feedback and aim to finish it by June 2021</li>
          </ol>
        </li>
        <li>Academic Resources
          <ol>
            <li>Get syllabus for all ECE courses and share those to ECE undergraduate office</li>
            <li>Encourage class representatives to upload academic resources, such as quizzes, tests and notes.</li>
          </ol>
        </li>
        <li>Academic Support Channel
          <ol>
            <li>Provide protocol for reporting academic issues in document and visuals.</li>
            <li>Share important academic issues with the ECE undergraduate office, through ECE student-staff meetings.</li>
            <li>Help class representatives to deliver academic concerns to faculty and professors</li>
          </ol>
        </li>
        <li>Academic Advocacy
          <ol>
            <li>Interact with EngSoc's VP academic through Academic Advocacy Committee (AAC), and bring some initiatives of AAC to ECE club</li>
          </ol>
        </li>
      </ul>
      <span class="card-text-header">Yixin's Fun Fact: </span>
      <span> Raising five rabbits (2 whites, 1 black, 1 dotted, 1 brown) at the same time in my apartment XD</span>
      <span class="card-text-header"><br>David's Fun Facts: </span>
      <span>
        <ul>
          <li>I haven't visited Canada until I came to join UofT in August 2018.</li>
          <li>I didn't know UWaterloo exists before I came here (seriously!).</li>
          <li>I am using old phone as my webcam, as webcam is very expensive because of COVID-19.</li>
          <li>I have three Google Accounts, and one of them is derived from my UofT email.</li>
          <li>I couldn't ride a bike until 2019.</li>
        </ul>
      </span>
      </p>
    </div>
  </div>

  <div id="card5" class="card shadow-sm width: 100% mb-5">
    <div class="card-body">
      <h5 class="card-title">Simrah Najeeb</h5>
      <h6 class="card-subtitle mb-2 text-muted">Mentorship Director</h6>
      <hr>
      <p class="card-text">
        <span class="card-text-header">Key Responsibilities</span>
      <ul>
        <li>Providing first year members of the Joint ECE Club with a guidance and support system to ease their transition into university;</li>
        <li>Interviewing and selecting mentors to personally advise and aid incoming Electrical and Computer Engineering students</li>
        <li>Oversee and communicate with mentors throughout the year to ensure they are fulfilling their duties</li>
        <li>Running various events to foster relationships between the first year Electrical and Computer Engineering students and between the first year and upper year Electrical and Computer Engineering students</li>
      </ul>
      <span class="card-text-header">Goals for the Year</span>
      <ul>
        <li>providing first year ECE students with a guidance and support system through upper year mentors who can personally advise and aid them</li>
        <li>Run various cross-disciplinary events as well as try to foster relationships between first year ECE students and upper year ECE students</li>
      </ul>
      <span class="card-text-header">Fun Fact: </span>
      <span> I'm left-handed :)</span>
      </p>
    </div>
  </div>

  <div id="card6" class="card shadow-sm width: 100% mb-5">
    <div class="card-body">
      <h5 class="card-title">Flora Xuan</h5>
      <h6 class="card-subtitle mb-2 text-muted">Events Director</h6>
      <hr>
      <p class="card-text">
        <span class="card-text-header">Key Responsibilities</span>
      <ul>
        As an Events director, I will organize and administer multiple events throughout the year, including the dinner dance✨ (if and when the health regulations permit).
      </ul>
      <span class="card-text-header">Fun Fact: </span>
      <span> Hey everyone! I’m Flora Xuan, an ECE 2T4. I’ve been learning violin and piano, love sports, travelling and anything fun! My dog Sirius is a pure golden retriever that has just turned two. Looking forward for meeting all of you!
      </span>
      </p>
    </div>
  </div>

  <div id="card7" class="card shadow-sm width: 100% mb-5">
    <div class="card-body">
      <h5 class="card-title">George Liu</h5>
      <h6 class="card-subtitle mb-2 text-muted">Communications Director</h6>
      <hr>
      <p class="card-text">
        <span class="card-text-header">Key Responsibilities</span>
      <ul>
        <li>Sending out mass emails</li>
        <li>Collaborating with the Webmaster to add and organize content on the ECE Club website</li>
        <li>Managing the ECE Club social media accounts</li>
        <li>Planning and documenting ECE club meetings</li>
      </ul>
      <span class="card-text-header">Goals for the Year</span>
      <ul>
        <li>Increase awareness of ECE Club initiatives</li>
        <li>Connect students with resources and opportunities in ECE club</li>
        <li>And most importantly, have fun :)</li>
      </ul>
      <span class="card-text-header">Fun Fact: </span>
      <span> I make puns on Instagram @thepunderline!</span>
      </p>
      <a class="btn btn-secondary" href="mailto: communications@ece.skule.ca" class="card-link">communications@ece.skule.ca</a>
    </div>
  </div>
</div>


<div class="footer-spacer"></div>
<%- include("footer") -%>
