<footer>

  <p><%="ECE Club © "+ new Date().getFullYear() + " | Designed by "; %><span><a target="_blank" href="https://github.com/majd64">Majd Hailat</a></span></p>
  <button id="toggleDarkMode" class="btn btn-transparent toggle-dark-mode" type="nav-link" name="button" onclick="this.blur();"><img src="images/icons/darkMode.png" alt="" width="25" height="25"></button>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="/index.js"></script>
</body>

</html>
